{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/anais.css') }}">
{% endblock %}


{% block title %}Products index{% endblock %}

{% block body %}
    <h1>Nos produits</h1>

    <div class="product-grid">
        {% for product in products %}
            <div class="product-card">
                {% if product.picture %}
                    <img class="product-card" src="{{ asset('uploads/products/' ~ product.picture) }}" alt="{{ product.productName }}">
                {% else %}
                    <div class="no-image">Image non disponible</div>
                {% endif %}

                <h2>{{ product.productName }}</h2>
                <p class="price">{{ product.price | number_format(2, '.', ' ') }} €</p>

                <a href="{{ path('app_products_show', {'id': product.id}) }}" class="btn">Voir plus</a>
            </div>
        {% else %}
            <p>Aucun produit trouvé</p>
        {% endfor %}
    </div>
{% endblock %}


