{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
     <main>



                <!-- Diaporama -->
                <h1>Diaporama</h1>
                <div id="diapo">
                    <div class="elements">
                        <figure class="element active">
                            <img src="{{ asset('uploads/products/mouse-2999498-1280-684dfddaecee4.jpg') }}" alt="pulb ">
                            <figcaption></figcaption>
                        </figure>

                        <figure class="element">
                            <img src="{{ asset('uploads/products/pehmonukkeja-228885-1280-684e00ac6fa4b.jpg') }}" alt="">
                            <figcaption></figcaption>
                        </figure>

                        <figure class="element">
                            <img src="{{ asset('uploads/products/sheep-5623676-1280-684e0171484c7.jpg') }}" alt="">
                            <figcaption></figcaption>
                        </figure>

                        <figure class="element">
                            <img src="{{ asset('uploads/products/istockphoto-186837589-612x612-684dfb9b2d3c3.jpg') }}" alt="">
                            <figcaption></figcaption>
                        </figure>
                    </div>
                    <span id="flechedroite" role="button"></span>
                    <span id="flechegauche" role="button">⬅</span>
                    <div class="indicators">
                        <div class="bar active"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                </div>
                <!-- Barre de recherche -->
                <div class="search-bar">
                    <form action="/recherche" method="get">
                        <input type="text" placeholder="Rechercher..." name="q">
                        <button type="submit">Rechercher</button>
                    </form>
                </div>
                <nav>
                    <div class="categories">
                        <div class="category">FIGURINES

                        </div>
                        <div class="category">MUGS</div>
                        <div class="category">POSTER</div>
                    </div>

                    <div class="sub-categories">
                        <div class="sub-category">VÊTEMENTS</div>
                        <div class="sub-category">Autres</div>
                    </div>
                </nav>

                <section class="nouveau">
                    <h2 class="section-title">Nouveautés</h2>
                    <figure>
                        <img src="{{ asset('uploads/products/brothers-and-sisters-610472-1280-684c42a6b0a21.jpg') }}" alt="peluches brothers and sisters">
                        <figcaption></figcaption>
                    </figure>
                    <figure>
                        <img src="{{ asset ('uploads/products/fig-gahara-684c29afb9be9.png') }}" alt="Gahara">
                        <figcaption></figcaption>
                    </figure>
                     <figure>
                          <img src="{{ asset ('uploads/products/istockphoto-1327074549-1024x1024-684dfcbc62b5e.webp') }}" alt="">
                            <figcaption></figcaption>
                            </figure>
                </section>

                <section class="vente">
                    <h2 class="section-title">Meilleures ventes</h2>
                    <figure>
                        <img src="{{ asset('uploads/products/fig-luffy-684c2f0a04447.png') }}" alt="figurines luffy">
                        <figcaption></figcaption>
                    </figure>
                    <figure>
                        <img src="{{ asset('uploads/products/stuffed-animals-235450-1280-684e02abbd272.jpg') }}" alt="animals stuffed">
                        <figcaption></figcaption>
                    </figure>
                    <figure>
                        <img src="{{ asset('uploads/products/fig-luffy-684c338266f4c.png') }}" alt="animals stuffed">
                            <figcaption></figcaption>
                            </figure>
        </div>
        </section>

        <section class="promos">
            <h2 class="section-title">Promos</h2>
            <figure>
                <img src="{{ asset('uploads/products/teddy-3405770-1280-684e0353a8dc5.jpg') }}" alt="">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img src="{{ asset('uploads/products/fig-luffy-684c338266f4c.png') }}" alt="">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img src="{{ asset('uploads/products/child-4696138-1280-684df83c0f48d.jpg') }}" alt="">
                    <figcaption></figcaption>
                </figure>
        </section>

        <section>
            <h2 class="section-title">Découvrez Nos Catégories de produits</h2>

            <div class="product-category">
                <div class="category-header">
                    <div class="category-title"></div>
                    <div class="arrow">→</div>
                </div>
                <div class="product-grid">
                    <div class="product"></div>
                    <div class="product"></div>
                </div>
            </div>

            <div class="product-category">
                <h3 class="featured-title">Figurine</h3>
                <div class="category-header">
                    <div class="category-title"></div>
                    <div class="arrow">→</div>
                </div>
                <div class="product-grid">
                    <div class="product"></div>
                    <div class="product"></div>
                </div>
            </div>

            <div class="product-category">
                <div class="category-header">
                    <div class="category-title"></div>
                    <div class="arrow">→</div>
                </div>
                <div class="product-grid">
                    <div class="product"></div>
                    <div class="product"></div>
                </div>
            </div>
        </section>
        <section class="end">
            <p>Bienvenue dans l'univers de CulteStore!</p>
            <p>Plongez dans un monde où la passion du cinéma, rencontre l'art de la collection et de la mode !</p>
            <p>Que vous soyez un cinéphile inconditionnel, un collectionneur de figurines ou un amateur de vêtements
                uniques.</p>
            <p>Trouvez tous vos articles préférés, vous êtes au bon endroit.</p>
            <p>Billeterie Festival Série Mania!</p>
        </section>
        </main>

{% endblock %}
