{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<main>
                <section id="diapo">
                    <div class="elements">
                        <figure class="element active">
                            <img src="{{ asset('images/diapo1.png') }}" alt="diapo">
                            <figcaption></figcaption>
                        </figure>

                        <figure class="element">
                            <img src="{{ asset('images/diapo2.png') }}" alt="diapo">
                            <figcaption></figcaption>
                        </figure>

                        <figure class="element">
                            <img src="{{ asset('/images/diapo3.png') }}" alt="diapo">
                            <figcaption></figcaption>
                        </figure>
                    </div>
                    <span id="flechedroite" role="button">➡</span>
                    <span id="flechegauche" role="button">⬅</span>
                    <div class="indicators">
                        <div class="bar active"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                </section>
                <!-- Barre de recherche -->
                <div class="search-bar">
                    <form action="/recherche" method="get">
                        <input type="text" placeholder="Rechercher..." name="q">
                        <button type="submit">Rechercher</button>
                    </form>
                </div>
                <section class="cat">
                    <div class="categories1">
                        {% for category in categories  %}
                            <a href="#">{{ category.name }}</a>
                        {% endfor %}
                    </div>
                </section>

                <section class="nouveautes">
                    <h2 class="section-title">Nouveautés</h2>
                    <div class="image-row">
                        <a href="">
                            <img src="{{ asset('uploads/products/avengers-infinity-war-68512e7444038.jpg') }}" alt="brothers-and-sisters">
                        </a>
                        <a href="">
                            <img src="{{ asset('uploads/products/avengers-infinity-war-68512e7444038.jpg') }}" alt="brothers-and-sisters">

                        </a>
                        <a href="">
                            <img src="{{ asset('uploads/products/avengers-infinity-war-68512e7444038.jpg') }}" alt="brothers-and-sisters">
                        </a>
                        <a href="">
                            <img src="{{ asset('uploads/products/avengers-infinity-war-68512e7444038.jpg') }}" alt="brothers-and-sisters">
                        </a>
                    </div>
                </section>

                <section class="meilleures-ventes">
                    <h2>Meilleures ventes</h2>
                    <div class="image-row">
                        <a href="">
                            <img src="{{ asset('uploads/products/avengers-infinity-war-68512e7444038.jpg') }}" alt="brothers-and-sisters">

                        </a>
                        <a href="">
                            <img src="{{ asset('uploads/products/avengers-infinity-war-68512e7444038.jpg') }}" alt="brothers-and-sisters">
                        </a>
                        <a href="">
                            <img src="{{ asset('uploads/products/avengers-infinity-war-68512e7444038.jpg') }}" alt="brothers-and-sisters">
                        </a>
                    </div>
                </section>


        <section class="categories3">
            <h2>Découvrez Nos Catégories de produits</h2>
              <div>
                  <a href=""> <img src="{{ asset('uploads/products/avengers-infinity-war-68512e7444038.jpg') }}" alt="brothers-and-sisters"> </a>
                  <a href=""> <img src="{{ asset('uploads/products/avengers-infinity-war-68512e7444038.jpg') }}" alt="brothers-and-sisters"> </a>
              </div>
        </section>
        <section class="figurines">
            <h3>Figurine</h3>
            <div class="product-category">
                <a href=""> <img src="{{ asset('uploads/products/avengers-infinity-war-68512e7444038.jpg') }}" alt="brothers-and-sisters"> </a>
                <a href=""> <img src="{{ asset('uploads/products/avengers-infinity-war-68512e7444038.jpg') }}" alt="brothers-and-sisters"> </a>
                <a href=""> <img src="{{ asset('uploads/products/avengers-infinity-war-68512e7444038.jpg') }}" alt="brothers-and-sisters"> </a>
                <a href=""> <img src="{{ asset('uploads/products/avengers-infinity-war-68512e7444038.jpg') }}" alt="brothers-and-sisters"> </a>
            </div>
        </section >

        <section class="end">
            <a href=""> <img src="{{ asset('uploads/products/avengers-infinity-war-68512e7444038.jpg') }}" alt="brothers-and-sisters"> </a>
            <p>Bienvenue dans l'univers de CulteStore!</p>
            <p>Plongez dans un monde où la passion du cinéma, rencontre l'art de la collection et de la mode !</p>
            <p>Que vous soyez un cinéphile inconditionnel, un collectionneur de figurines ou un amateur de vêtements
                uniques.</p>
            <p>Trouvez tous vos articles préférés, vous êtes au bon endroit.</p>
            <p>Billeterie Festival Série Mania!</p>
            <a href=""> <img src="{{ asset('uploads/products/avengers-infinity-war-68512e7444038.jpg') }}" alt="brothers-and-sisters"> </a>
        </section>
</main>
    <footer>
     {{ include('partials/footer.html.twig') }}
    </footer>
{% endblock %}
