{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div>test affichage flash</div>
    {% for message in app.flashes('error') %}
        <div>{{ message }}</div>
    {% endfor %}

    {% for message in app.flashes('success') %}
        <div>{{ message }}</div>
    {% endfor %}

    <h1>Inscription</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.lastname) }}
    {{ form_row(registrationForm.firstname) }}
        {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.confirmEmail) }}
        {{ form_row(registrationForm.plainPassword) }}
    {{ form_row(registrationForm.confirmPassword) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">M'inscrire</button>
        <p>Déjà inscrit ? <a href="{{ path('app_login') }}">Me connecter</a></p>
    {{ form_end(registrationForm) }}
{% endblock %}
