<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Basic&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/reset.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/script.js') }}" defer></script>

        {% endblock %}
    </head>
    <header>

        {% block header %}
            <nav>
                <a href="{{ path('app_products_index') }}" class="logo"><img src="{{ asset('images/logo_groupe_2.png') }}" alt="logo"></a>
                <ul class="open">
                    <li class="active"><a href="#">Inscription</a></li>
                    <li><a href="#">Mon compte</a></li>
                    <li><a href="#">panier</a></li>
                </ul>
                <div>
                    <svg id="burger" xmlns="http://www.w3.org/2000/svg" width="30" height="30">
                        <use href="{{ asset('images/sprite.svg#burger') }}"></use>
                    </svg>
                </div>
            </nav>
        {% endblock %}

    </header>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
